<%= render 'notice' %>
<h2>Home Page</h2>
<p><%= link_to 'Logout', sessions_logout_path%></p>

<p><%= link_to 'Profile', User.find(session[:user_id])%></p>
<% if session[:user_id] && session[:admin]%>
    <p><%= link_to 'Manage Users', users_path%></p>
    <p><%= link_to 'Manage Rooms', rooms_path%></p>
    <p><%= link_to 'Booking History', '/users/history'%></p>
<% else %>
    <p><%= link_to 'Book Rooms', rooms_path%></p>
<% end %>

