<%= render 'notice' %>
<h2>Home Page</h2>
<p><%= link_to 'Logout', sessions_logout_path%></p>

<p><%= link_to 'Profile', User.find(session[:user_id])%></p><br>
<% if session[:user_id] && session[:admin]%>
    <h3>Manage Users</h3>
    <ul>
      <li><%= link_to 'List All Users', users_path%></li>
      <li><%= link_to 'List Admins', users_list_admins_path%></li>
      <li><%= link_to 'List Members', users_list_members_path%></li><br>

      <li><%= link_to 'Create New User', new_user_path%></li>
    </ul>
    <br>

    <p><%= link_to 'Manage Rooms', rooms_path%></p>
<% else %>
    <p><%= link_to 'Book Rooms', rooms_path%></p>
<% end %>
<p><%= link_to 'Booking History', '/users/history'%></p>

