<h1>Home Page</h1>

<p><%= link_to 'Logout', sessions_logout_path%></p>

<p><%= link_to 'Profile', User.find(session[:user_id])%></p>
<p><%= link_to 'Search Rooms', rooms_path%></p>

<% if session[:user_id] && session[:admin]%>
<p><%= link_to 'Manage Admins', users_path%></p>
<p><%= link_to 'Manage Library Members', users_path%></p>
<p><%= link_to 'Manage Rooms', rooms_path%></p>
<% end %>
