<%= render 'sessions/notice' %>
<h1>Current bookings</h1>
<% @new_booking.each do |booking| %>




      <strong>Date:</strong>&emsp;&emsp;&emsp;&emsp;
      <%= booking.date %>
      </br>

      <strong>Slot:</strong>&emsp;&emsp;&emsp;&emsp;
      <%= booking.endtime-2 %>:00 to <%= booking.endtime %>:00
    </br>
    <strong>RoomNumber:</strong>&emsp;&emsp;&emsp;
    <%= booking.room.roomnumber %>
    </br>

      </br>
      <%= link_to 'Release Booking',[booking.room, booking],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
      </br>

      <br>

<% end %>
<h1>Old bookings</h1>
<% @old_booking.each do |booking| %>


      <strong>Date:</strong>&emsp;&emsp;&emsp;&emsp;
      <%= booking.date %>
      </br>

      <strong>Slot:</strong>&emsp;&emsp;&emsp;&emsp;
      <%= booking.endtime-2 %>:00 to <%= booking.endtime %>:00
    </br>
    <strong>RoomNumber:</strong>&emsp;&emsp;&emsp;
    <%= booking.room.roomnumber %>
      </br>

      <br>
<% end %>
<br>
<%= link_to 'Back to Home', sessions_home_path %>