
<%= render 'sessions/notice' %>

<% if session[:admin]%>
    <h2>List All Users | <%= link_to 'List Admins', users_list_admins_path%> | <%= link_to 'List Members', users_list_members_path%></h2>

    <%= render 'list'%>

<% end%>

<%= render 'footer' %>