
<%= render 'sessions/notice' %>

<% if session[:admin]%>
    <h2><%= link_to 'List All Users', users_path%> | List Admins | <%= link_to 'List Members', users_list_members_path%></h2>

    <%= render 'list'%>


    <%= render 'footer' %>


<% end%>