
<%= render 'sessions/notice' %>

<% if session[:admin]%>
    <h2>List Admins</h2>

    <%= render 'list'%>

    <br>
    <p><%= link_to 'Create New Admin', new_user_path %></p>
    <% if session[:user_id]%>
        <p>
          <%= link_to 'Back to Home', sessions_home_path %>&nbsp&nbsp|&nbsp&nbsp
          <%= link_to 'Logout', sessions_logout_path%>
        </p>
    <% end%>


<% end%>