<head>
  <style>
    td	{padding: 5px}
  </style>
</head>

<h1>Rooms</h1>



<%= form_tag(rooms_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
    <%= select_tag "field", options_for_select(@field) %>
    <%= submit_tag "Search" %>
<% end %>




<p>
  <%= link_to 'Create New Room', new_room_path %>
</p>



<table>

  <tr>
    <th>Room Number</th>
    <th>Building Name</th>
    <th>Capacity</th>
  </tr>

  <% @rooms.each do |room| %>
      <tr>
        <td><%= room.roomnumber %></td>
        <td><%= room.buildingname %></td>
        <td><%= room.capacity %></td>
        <td><%= link_to 'Profile', room_path(room) %></td>
        <td><%= link_to 'Delete', room_path(room),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>