<head>
  <style>
    td	{padding: 5px}
  </style>
</head>

<h1>Rooms</h1>

<p>
  <%= link_to 'Create New Room', new_room_path %>
</p>

<table>
  <tr>
    <th>Room Number</th>
    <th>Building Name</th>
    <th>Capacity</th>
  </tr>

  <% @rooms.each do |room| %>
      <tr>
        <td><%= room.roomnumber %></td>
        <td><%= room.buildingname %></td>
        <td><%= room.capacity %></td>
        <td><%= link_to 'Profile', room_path(room) %></td>
        <td><%= link_to 'Delete', room_path(room),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>