<%= render 'sessions/notice' %>
<head>
  <style>
    td,th	{padding: 5px}
  </style>
</head>

<% if session[:user_id] && session[:admin]%>
    <p><%= link_to 'Create New Room', new_room_path%></p>
<% end %>
<br>
<h2>Search for Rooms</h2>

<%= form_tag(rooms_path, :method => "get", id: "search-form") do %>
    <p>Search By:<%= select_tag "field", options_for_select(@field) %></p>
    <p><%= text_field_tag :search, params[:search], placeholder: "Search Rooms" %></p>
    <p><%= submit_tag "Search" %></p>
<% end %>

<br><br>
<table>
  <tr>
    <th>Room Number</th>
    <th>Building Name</th>
    <th>Capacity</th>
  </tr>

  <% @rooms.each do |room| %>
      <tr>
        <td><%= room.roomnumber %></td>
        <td><%= room.buildingname %></td>
        <td><%= room.capacity %></td>
        <td><%= link_to 'Details', room_path(room) %></td>
        <% if session[:user_id] && session[:admin]%>
        <td><%= link_to 'Delete', room_path(room),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
        <% end%>
      </tr>
  <% end %>
</table>
<br>
<hr>
<% if session[:user_id]%>
    <p>
      <%= link_to 'Back to Home', sessions_home_path %>&nbsp&nbsp|&nbsp&nbsp
      <%= link_to 'Logout', sessions_logout_path%>
    </p>
<% end%>