<%= render 'sessions/notice' %>


<p><%= link_to 'Back to List', rooms_path %></p><br>

<h2>Details of Room</h2>
<p>
  <strong>Room Number:</strong>
  <%= @room.roomnumber %>
</p>

<p>
  <strong>Building Name:</strong>
  <%= @room.buildingname %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @room.capacity %>
</p>

<hr>
<h2>Reservations</h2>
<ul>
<% @room.bookings.each do |booking| %>
<li>
  <% if session[:user_id] == booking.user_id or session[:admin] %>
      <strong>Booked By:</strong>&emsp;
      <%= User.find(booking.user_id).email %>&emsp;&emsp;
      <%= link_to 'Release Booking',[booking.room, booking],
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
      </br>
  <% end%>

  <strong>Date:</strong>&emsp;&emsp;&emsp;&emsp;
  <%= booking.date %>
  </br>

  <strong>Slot:</strong>&emsp;&emsp;&emsp;&emsp;
  <%= booking.endtime-2 %>:00 to <%= booking.endtime %>:00
  </br>

  <br>
</li>
<% end %>
</ul>
<hr>
<h2>Book Room</h2>
<p>
  <%= form_for([@room, @room.bookings.build]) do |f| %>
  Date: <%= select_tag "date", options_for_select(@date) %><br><br>
  Time: <%= select_tag "time", options_for_select(@time) %><br><br>
      Invite: <%= text_field_tag "emails" %><br><br>
      please give emails in comma seperated eg: abc@gmail.com,xyz@gmail.com<br><br>
  <%= f.submit "Book Room"%>
  <% end %>
</p>